name: Owasp Zap Scan DAST
on: [push]
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the API
    steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            ref: master
        - name: ZAP Scan
          uses: zaproxy/action-api-scan@v0.6.0
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
            target: 'https://serverest.dev/'
            rules_file_name: '.zap/rules.tsv'
            cmd_options: '-a'